.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.typing-effect {
  font-family: monospace;
  font-size: 16px;
  white-space: pre-wrap;
}

.cursor {
  display: inline-block;
  width: 2px;
  background-color: black;
  animation: blink 1s step-start infinite;
}

.loading-indicator {
  display: flex;
  gap: 20px;
  align-items: center;
}

.loading-text {
  margin-top: 23px;
}

.chat-input-wrapper {
  display: flex;
  gap: 40px;
  align-items: center;
}

.login-view {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  margin-top: 200px;
}

.frodo-img {
  width: 400x;
  height: 200px;
}
